<div class="col-lg-3">
    <h3>Client statistics</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Most often browser</div>
        <div class="panel-body">
            {{ clientStatistics.mostOftenUsedBrowser }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Most often used OS</div>
        <div class="panel-body">
            {{ clientStatistics.mostOftenUsedOS }}
        </div>
    </div>
</div>
