<div class="col-lg-3">
    <h3>Publisher statistics</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Total post count</div>
        <div class="panel-body">
            <span class="badge">{{ publisherStatistics.postCount }}</span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Most active publisher</div>
        <div class="panel-body">
            {{ publisherStatistics.mostActivePublisher }}
        </div>
    </div>
</div>
