<div class="col-lg-3">
    <div data-spy="affix" data-offset-top="0">
        <div class="list-group">
            <div class="list-group-item active">{{ clientStatistics.mostOftenUsedBrowser }}</div>
            <div class="list-group-item active">{{ clientStatistics.mostOftenUsedOS }}</div>
        </div>
    </div>
</div>
