PHP_APPLICATION_HOST         = 255.255.255.1
PHP_APPLICATION_HOST_USER    = root
PHP_APPLICATION_HOST_SSH_KEY = ~/.ssh/id_rsa
PHP_APPLICATION_CACHE_HOST   = 127.0.0.1

REDIS_CACHE_HOST         = 255.255.255.1
REDIS_CACHE_HOST_USER    = root
REDIS_CACHE_HOST_SSH_KEY = ~/.ssh/id_rsa