PHP_APPLICATION_HOST         = 0.0.0.0
PHP_APPLICATION_HOST_USER    = root
PHP_APPLICATION_HOST_SSH_KEY = test_key
PHP_APPLICATION_CACHE_HOST   = 127.0.0.1

REDIS_CACHE_HOST         = 0.0.0.0
REDIS_CACHE_HOST_USER    = root
REDIS_CACHE_HOST_SSH_KEY = test_key

GATLING_STRESS_TESTING_USER_LOW  = 10
GATLING_STRESS_TESTING_USER_HIGH = 500
GATLING_STRESS_TESTING_DURATION  = 100